body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-card {
  background: linear-gradient(rgba(255,69,43,1) 70%,  white 30%);
}
.background-avatar-pokemon {
  background-color: white;
  border-radius: 100%;
  margin-top: .9rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.shadow-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sticky-search-bar{
  position: sticky;
  top: 0;
  z-index: 100;
}
.ant-input-affix-wrapper-lg {
  border-radius: 150px !important;
}

.ant-btn-primary {
  background-color: #FF452B !important;
  border-color: #FF452B !important;
}
/* .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: 'green' !important
}

.ant-input-affix-wrapper-focused {
  border-width: 2px !important;
  border-color: 'green' !important
} */
